h1		{ color: #CCCCCC;
		  font-family: "Times New Roman" }
		  
a		{ background-color: #CCCCCC; }

.new	{ color: red;
		  font-style: italic; }

body     { background-color: black; 
           color:  White;
           font-family: Arial, Verdana, sans-serif; }